@import "../../App.scss";
.home-page {
  .text-zone-home {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    color: $primary-color;
  }
  h1 {
    font-size: 43px;
    margin: 0;
    font-weight: 400;
    color: #c8860c;
    font-size: 43px;

    // &::before{
    //     content: '<h1>';
    //     color: #ffd700;
    //     font-size: 18px;
    //     position: absolute;
    //     margin-top: -40px;
    //     left: 15px;
    //     opacity: 0.6;
    // }

    // &::after{
    //     content: '<h1/>';
    //     color: #ffd700;
    //     font-size: 18px;
    //     position: absolute;
    //     margin-top: 18px;
    //     margin-left: 20px;
    //     animation: fadeIn 1s 1.7s backwards;
    //     opacity: 0.6;
    // }
  }
  p {
    color: $secondary-color;
    font-size: 18px;
    margin: 0;
    font-weight: 300;
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: $primary-color;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid $primary-color;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background-color: $secondary-color;
      // #ffd700
      color: #022043;
    }
  }

  // skills

  .stage-cube-cont {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    // width: 100%;
    height: 100%;
    bottom: 0;
    overflow: hidden;

    // font-size: 25px;
  }

  .cubespinner {
    animation-name: spinitems;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin: 100px;
    padding: 100px;
    transform: translate(0, -50%);
    position: absolute;
    left: 12.5%;

    div {
      position: absolute;
      width: 200px;
      height: 200px;
      border: 1px solid #ccc;
      background-color: rgba(255, 255, 255, 0.4);
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
    }

    .face1 {
      transform: translateZ(100px);
      // transform: rotateY(60deg) translateZ(100px);
    }
    .face2 {
      transform: rotateY(90deg) translateZ(100px);
      // transform: rotateY(120deg) translateZ(100px);
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      // transform: rotateY(180deg) translateZ(100px);
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      // transform: rotateY(240deg) translateZ(100px);
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      // transform: rotateY(300deg) translateZ(100px);
      // transform: rotateY(225deg) translateZ(100px);
      // transform: rotateY(270deg) rotateZ(180deg) translateZ(100px);
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(100px);
      // transform: rotateY(360deg) translateZ(100px);
    }
    .face7 {
      display: none;
      // width: 400px;
      // height: 400px;
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    }
    .face8 {
      display: none;
      // width: 400px;
      // height: 400px;
      transform: rotateY(-90deg) rotateX(-90deg) translateZ(100px);
      // transform: rotateY(-90deg) translateZ(100px);
    }
  }
  @keyframes spinitems {
    from,
    to {
      top: 2px;
    }
    16% {
      transform: rotateY(90deg);
    }
    33% {
      transform: rotateY(-90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateZ(90deg);
    }
    93% {
      transform: rotateX(90deg);
    }
  }
  // @keyframes spinitems{
  //     from,
  //     to{
  //         top: 2px;
  //     }
  //     16%{
  //         transform:rotateY(90deg);
  //     }
  //     33%{
  //         transform:rotateY(-90deg) rotateZ(90deg);
  //     }
  //     50%{
  //         transform:rotateY(-180deg) rotateZ(90deg);
  //     }
  //     66%{
  //         transform:rotateY(-270deg) rotateZ(90deg);
  //     }
  //     93%{
  //         transform:rotateX(90deg);
  //     }
  // }
}

//   responsive
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

// @mixin mobile {
@media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
  .home-page {
    .text-zone-home {
      position: absolute;
      left: 10%;
      top: 45%;
      transform: translateY(-50%);
      width: 80%;
      max-height: 90%;
      text-align: left;
      margin: auto;
    }
    .stage-cube-cont {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      bottom: 0;
      overflow: hidden;
      display: none;
    }
  }
  .stage-cube-cont {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    bottom: 0;
    overflow: hidden;
  }
}
// }

// @mixin tablet {
@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
  .home-page {
    .text-zone-home {
      position: absolute;
      left: 10%;
      top: 70%;
      transform: translateY(-50%);
      width: 80%;
      max-height: 90%;
      text-align: left;
      margin: auto;

      h1 {
        text-align: center;
      }
    }
    .stage-cube-cont {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      bottom: 0;
      overflow: hidden;
    }
    .cubespinner {
      margin: 10;
    }
  }
  @keyframes spinitems {
    from,
    to {
      top: 0px;
    }
    16% {
      transform: rotateX(90deg);
    }
    33% {
      transform: rotateX(-90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateX(-270deg) rotateZ(90deg);
    }
    93% {
      transform: rotateX(90deg);
    }
  }
}

@media (min-width: #{$desktop-width}) {
  // @content;
}
